body {
  margin: 0;
}

.parallax {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.block {
  background-color: black;
  height: 100vh;
}

#img1 {
  background-image: url(./images/imagen1.jpeg);
}

#img2 {
  background-image: url(./images/imagen2.jpeg);
}

.text {
  text-align: center;
  text-shadow: 0.1em 0.1em #333;
  color: white;
  position: relative;
  top: 50%;
  font-size: 100px;
}
